<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mo.testeverything">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".TestApplication"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".dragdot.DragDotActivity"></activity>
    <activity android:name=".fadeinandout.FadeInAndOutActivity" />
    <activity android:name=".fresco.FrescoTestActivity" />
    <activity android:name=".imageoverturn.ImageOverturnActivity" />
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".SingleInstance.Bean.SingleInstanceActivity" />
    <activity android:name=".TableLayout.TableLayoutActivity" />
    <activity android:name=".rocker.RockerActivity">
      <intent-filter>
        <action android:name="com.mo.testeverything.action.SHORTCUT" /> <!-- 自定义的action，通过自定义的action可以跨app调用到activity -->
        <action android:name="android.intent.action.MAIN" /> <!-- 当程序删除时，快捷方式也会跟着删除 -->
        <category android:name="android.intent.category.DEFAULT" /> <!-- 必须加上这个，否则下面无法直接使用自定的action -->
      </intent-filter>
    </activity>
    <activity android:name=".shortcut.ShortCutActivity" />
    <activity android:name=".RobotUI.RobotUiActivity" />
    <activity android:name=".IdCode.IdCodeActivity" />
  </application>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

</manifest>